@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 53, 38%, 39%;
    --primary-foreground: 53, 24%, 52%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --dark: 210, 10%, 23%;
    --dark-foreground: 212, 10%, 25%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --header-height: 6rem;
  }
}

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply bg-background leading-7 text-foreground;
  }

  html,
  body,
  #__next {
    @apply m-0 min-h-screen p-0;
  }

  img {
    @apply block max-w-full;
  }
}

@layer components {
  .header {
    height: var(--header-height);
  }

  .hero {
    height: calc(100vh - var(--header-height));
  }

  .nav-link {
    padding: 4px;
    display: block;
    @apply text-dark;
  }

  .nav-link:hover,
  .nav-link.active {
    @apply bg-primary text-muted;
  }

  .nav-link.active {
    transform: rotate(5deg);
  }
}

@layer utilities {
  .base-container {
    @apply mx-auto w-full px-4;
  }
  .container-lg {
    @apply base-container 2xl:max-w-[1648px] 3xl:px-0;
  }

  .container-md {
    @apply base-container px-2 2xl:px-4;
  }

  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease-in;
  }

  .remove-blur {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
  }
}
