@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(26, 23%, 94%);
    --foreground: hsl(0, 2%, 22%);

    --primary: hsl(103, 40%, 59%);
    --primary-foreground: hsl(0 0% 100%);

    --secondary: hsl(0, 0%, 100%);
    --secondary-foreground: hsl(0, 0%, 64%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(0, 0%, 33%);

    --accent: hsl(103, 80%, 59%);
    --accent-foreground: hsl(103, 80%, 79%);

    --dark: hsl(210, 10%, 23%);
    --dark-foreground: hsl(212, 10%, 25%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;
    --header-h: 64px;
    --header-h-md: 88px;
  }
}

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply bg-background;
  }

  html,
  body,
  #__next {
    @apply m-0 min-h-screen p-0;
  }

  img {
    @apply block max-w-full;
  }
}

@layer components {
}

@layer utilities {
  .base-container {
    @apply mx-auto w-full px-4;
  }
  .container-lg {
    @apply base-container 2xl:max-w-[1848px];
  }

  .container-md {
    @apply base-container px-2 2xl:max-w-[1648px] 2xl:px-4;
  }

  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease-in;
  }

  .remove-blur {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
  }
}
